# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.swp
.idea
.settings/
bin/
/lib/
/log/
.cproject
.project
.idea/
*.o
*.d
lib*.a
!/vendor/lib/*
lib*.so
.*.sw*
.*.tgz
.*DS*
*.tgz

core
*.rdb

build
debug
release